.ipynb_checkpoints
*/.ipynb_checkpoints/*
**/*.ipynb_checkpoints/
st_explain_and_support.ipynb
1_fer2013_*.ipynb

.DS_Store
.DS_Store?
*/.DS_Store
**/.DS_Store

__pycache__
*/__pycache__
*/__pycache
**/__pycache
**/__pycache__
**/*__pycache__

*.vscode
.vscode
.env
*/.env

.csv
.zip
.jpg
*.csv
*.zip
*.jpg

*.hdf5
*.hdf5.json

.hdf5
.hdf5.json
https://github.com/opencv/opencv/blob/master/data/haarcascades/haarcascade_frontalface_default.xml